.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.913000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.000000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.925293;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.939453;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:1.000000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.913000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:1.000000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:1.000000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff9;src:url(f9.woff)format("woff");}.ff9{font-family:ff9;line-height:1.000000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffa;src:url(fa.woff)format("woff");}.ffa{font-family:ffa;line-height:1.000000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffb;src:url(fb.woff)format("woff");}.ffb{font-family:ffb;line-height:0.913000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffc;src:url(fc.woff)format("woff");}.ffc{font-family:ffc;line-height:1.000000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffd;src:url(fd.woff)format("woff");}.ffd{font-family:ffd;line-height:0.913000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffe;src:url(fe.woff)format("woff");}.ffe{font-family:ffe;line-height:1.000000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:fff;src:url(ff.woff)format("woff");}.fff{font-family:fff;line-height:0.913000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff10;src:url(f10.woff)format("woff");}.ff10{font-family:ff10;line-height:1.000000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff11;src:url(f11.woff)format("woff");}.ff11{font-family:ff11;line-height:0.736328;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff12;src:url(f12.woff)format("woff");}.ff12{font-family:ff12;line-height:0.737305;font-style:normal;font-weight:normal;visibility:visible;}
.m1{transform:matrix(0.249325,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.249325,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.249325,0.000000,0.000000,0.250000,0,0);}
.m2{transform:matrix(0.249327,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.249327,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.249327,0.000000,0.000000,0.250000,0,0);}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:-1.920000px;}
.ls3{letter-spacing:-1.644573px;}
.ls4{letter-spacing:-0.405511px;}
.ls1{letter-spacing:0.000000px;}
.ls2{letter-spacing:3.490900px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws2{word-spacing:-3.490900px;}
.ws1{word-spacing:0.000000px;}
.ws3{word-spacing:1.644573px;}
.ws0{word-spacing:1.920000px;}
._0{margin-left:-17.664000px;}
._1{margin-left:-3.680000px;}
._2{margin-left:-1.444000px;}
._4{width:2.094540px;}
._3{width:3.421082px;}
._7{width:68.280000px;}
._5{width:134.922588px;}
._6{width:2766.036952px;}
.fc1{color:rgb(112,111,111);}
.fc2{color:rgb(255,255,255);}
.fc0{color:rgb(0,0,0);}
.fs3{font-size:22.528400px;}
.fs5{font-size:22.800000px;}
.fs4{font-size:27.772400px;}
.fs6{font-size:32.000000px;}
.fs1{font-size:40.000000px;}
.fs2{font-size:69.818000px;}
.fs0{font-size:192.000000px;}
.y0{bottom:0.000000px;}
.y56{bottom:1.831600px;}
.y1c{bottom:23.915000px;}
.y1e{bottom:25.650400px;}
.y1f{bottom:27.245676px;}
.y1d{bottom:33.987300px;}
.y20{bottom:41.094000px;}
.y5b{bottom:44.319300px;}
.y5c{bottom:69.440200px;}
.y1{bottom:71.093700px;}
.y51{bottom:101.042400px;}
.y53{bottom:101.046100px;}
.y54{bottom:102.889000px;}
.y59{bottom:106.432200px;}
.y50{bottom:111.042400px;}
.y52{bottom:111.046100px;}
.y3a{bottom:132.220600px;}
.y39{bottom:144.220600px;}
.y44{bottom:151.682400px;}
.y47{bottom:151.686200px;}
.y5a{bottom:154.048300px;}
.y38{bottom:156.220600px;}
.y43{bottom:163.682400px;}
.y46{bottom:163.686200px;}
.y55{bottom:166.094200px;}
.y37{bottom:168.220600px;}
.y4f{bottom:171.712400px;}
.y42{bottom:175.682400px;}
.y45{bottom:175.686200px;}
.y36{bottom:180.220600px;}
.y35{bottom:192.220600px;}
.y34{bottom:204.220600px;}
.y4e{bottom:205.822400px;}
.y1a{bottom:212.781400px;}
.y58{bottom:216.161300px;}
.y33{bottom:216.220600px;}
.y4d{bottom:217.822400px;}
.y57{bottom:223.001300px;}
.y32{bottom:228.220600px;}
.y4c{bottom:229.822400px;}
.y31{bottom:240.220600px;}
.y4b{bottom:241.822400px;}
.y19{bottom:248.781400px;}
.y4a{bottom:253.822400px;}
.y18{bottom:260.781400px;}
.y30{bottom:264.220600px;}
.y49{bottom:265.822400px;}
.y17{bottom:272.781400px;}
.y2f{bottom:276.220600px;}
.y16{bottom:284.781400px;}
.y2e{bottom:288.220600px;}
.y15{bottom:296.781400px;}
.y2d{bottom:300.220600px;}
.y14{bottom:308.781400px;}
.y2c{bottom:312.220600px;}
.y13{bottom:320.781400px;}
.y2b{bottom:324.220600px;}
.y12{bottom:332.781400px;}
.y2a{bottom:336.220600px;}
.y11{bottom:344.781400px;}
.y29{bottom:348.220600px;}
.y10{bottom:356.781400px;}
.y28{bottom:360.220600px;}
.yf{bottom:368.781400px;}
.y27{bottom:372.220600px;}
.ye{bottom:380.781400px;}
.yd{bottom:392.781400px;}
.yc{bottom:404.781400px;}
.yb{bottom:416.781400px;}
.ya{bottom:428.781400px;}
.y9{bottom:440.781400px;}
.y8{bottom:452.781400px;}
.y7{bottom:464.781400px;}
.y6{bottom:476.781400px;}
.y5{bottom:488.781400px;}
.y4{bottom:500.781400px;}
.y3{bottom:512.781400px;}
.y2{bottom:547.262600px;}
.y41{bottom:613.922400px;}
.y40{bottom:625.922400px;}
.y3f{bottom:637.922400px;}
.y26{bottom:642.035300px;}
.y3e{bottom:649.922400px;}
.y25{bottom:654.035300px;}
.y3d{bottom:661.922400px;}
.y24{bottom:666.035300px;}
.y1b{bottom:671.521400px;}
.y3c{bottom:673.922400px;}
.y23{bottom:678.035300px;}
.y3b{bottom:685.922400px;}
.y22{bottom:690.035300px;}
.y48{bottom:701.518400px;}
.y21{bottom:701.521200px;}
.hd{height:16.354102px;}
.h6{height:16.401291px;}
.h7{height:20.246188px;}
.he{height:25.152000px;}
.h9{height:29.240000px;}
.h4{height:31.440000px;}
.h5{height:50.829413px;}
.h3{height:140.352000px;}
.hc{height:170.077000px;}
.hb{height:580.000000px;}
.ha{height:635.000000px;}
.h2{height:665.914300px;}
.h8{height:695.914000px;}
.h1{height:737.000000px;}
.h0{height:737.008000px;}
.w5{width:90.201000px;}
.w2{width:481.000000px;}
.w4{width:566.928000px;}
.w3{width:566.929000px;}
.w0{width:1133.860000px;}
.w1{width:1134.000000px;}
.x0{left:0.000000px;}
.x2{left:10.039100px;}
.xb{left:28.346500px;}
.x1e{left:30.184100px;}
.x5{left:59.305700px;}
.xe{left:65.196500px;}
.x22{left:72.751700px;}
.xf{left:187.086500px;}
.x3{left:214.469100px;}
.x7{left:227.690900px;}
.x10{left:308.266500px;}
.x6{left:320.714800px;}
.x9{left:414.198200px;}
.x11{left:424.486500px;}
.x4{left:446.909100px;}
.xd{left:521.902400px;}
.xc{left:566.930000px;}
.xa{left:592.797400px;}
.x16{left:595.276200px;}
.x1d{left:621.042000px;}
.x20{left:628.984700px;}
.x1f{left:630.894200px;}
.x12{left:632.126500px;}
.x1{left:641.930000px;}
.x21{left:693.793700px;}
.x13{left:754.016500px;}
.x17{left:796.536200px;}
.x18{left:844.726200px;}
.x14{left:875.196500px;}
.x19{left:898.583300px;}
.x1a{left:946.773300px;}
.x8{left:988.297797px;}
.x15{left:991.416500px;}
.x1b{left:994.963300px;}
.x1c{left:1043.153300px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:-2.560000pt;}
.ls3{letter-spacing:-2.192764pt;}
.ls4{letter-spacing:-0.540682pt;}
.ls1{letter-spacing:0.000000pt;}
.ls2{letter-spacing:4.654533pt;}
.ws2{word-spacing:-4.654533pt;}
.ws1{word-spacing:0.000000pt;}
.ws3{word-spacing:2.192764pt;}
.ws0{word-spacing:2.560000pt;}
._0{margin-left:-23.552000pt;}
._1{margin-left:-4.906667pt;}
._2{margin-left:-1.925333pt;}
._4{width:2.792720pt;}
._3{width:4.561443pt;}
._7{width:91.040000pt;}
._5{width:179.896783pt;}
._6{width:3688.049269pt;}
.fs3{font-size:30.037867pt;}
.fs5{font-size:30.400000pt;}
.fs4{font-size:37.029867pt;}
.fs6{font-size:42.666667pt;}
.fs1{font-size:53.333333pt;}
.fs2{font-size:93.090667pt;}
.fs0{font-size:256.000000pt;}
.y0{bottom:0.000000pt;}
.y56{bottom:2.442133pt;}
.y1c{bottom:31.886667pt;}
.y1e{bottom:34.200533pt;}
.y1f{bottom:36.327568pt;}
.y1d{bottom:45.316400pt;}
.y20{bottom:54.792000pt;}
.y5b{bottom:59.092400pt;}
.y5c{bottom:92.586933pt;}
.y1{bottom:94.791600pt;}
.y51{bottom:134.723200pt;}
.y53{bottom:134.728133pt;}
.y54{bottom:137.185333pt;}
.y59{bottom:141.909600pt;}
.y50{bottom:148.056533pt;}
.y52{bottom:148.061467pt;}
.y3a{bottom:176.294133pt;}
.y39{bottom:192.294133pt;}
.y44{bottom:202.243200pt;}
.y47{bottom:202.248267pt;}
.y5a{bottom:205.397733pt;}
.y38{bottom:208.294133pt;}
.y43{bottom:218.243200pt;}
.y46{bottom:218.248267pt;}
.y55{bottom:221.458933pt;}
.y37{bottom:224.294133pt;}
.y4f{bottom:228.949867pt;}
.y42{bottom:234.243200pt;}
.y45{bottom:234.248267pt;}
.y36{bottom:240.294133pt;}
.y35{bottom:256.294133pt;}
.y34{bottom:272.294133pt;}
.y4e{bottom:274.429867pt;}
.y1a{bottom:283.708533pt;}
.y58{bottom:288.215067pt;}
.y33{bottom:288.294133pt;}
.y4d{bottom:290.429867pt;}
.y57{bottom:297.335067pt;}
.y32{bottom:304.294133pt;}
.y4c{bottom:306.429867pt;}
.y31{bottom:320.294133pt;}
.y4b{bottom:322.429867pt;}
.y19{bottom:331.708533pt;}
.y4a{bottom:338.429867pt;}
.y18{bottom:347.708533pt;}
.y30{bottom:352.294133pt;}
.y49{bottom:354.429867pt;}
.y17{bottom:363.708533pt;}
.y2f{bottom:368.294133pt;}
.y16{bottom:379.708533pt;}
.y2e{bottom:384.294133pt;}
.y15{bottom:395.708533pt;}
.y2d{bottom:400.294133pt;}
.y14{bottom:411.708533pt;}
.y2c{bottom:416.294133pt;}
.y13{bottom:427.708533pt;}
.y2b{bottom:432.294133pt;}
.y12{bottom:443.708533pt;}
.y2a{bottom:448.294133pt;}
.y11{bottom:459.708533pt;}
.y29{bottom:464.294133pt;}
.y10{bottom:475.708533pt;}
.y28{bottom:480.294133pt;}
.yf{bottom:491.708533pt;}
.y27{bottom:496.294133pt;}
.ye{bottom:507.708533pt;}
.yd{bottom:523.708533pt;}
.yc{bottom:539.708533pt;}
.yb{bottom:555.708533pt;}
.ya{bottom:571.708533pt;}
.y9{bottom:587.708533pt;}
.y8{bottom:603.708533pt;}
.y7{bottom:619.708533pt;}
.y6{bottom:635.708533pt;}
.y5{bottom:651.708533pt;}
.y4{bottom:667.708533pt;}
.y3{bottom:683.708533pt;}
.y2{bottom:729.683467pt;}
.y41{bottom:818.563200pt;}
.y40{bottom:834.563200pt;}
.y3f{bottom:850.563200pt;}
.y26{bottom:856.047067pt;}
.y3e{bottom:866.563200pt;}
.y25{bottom:872.047067pt;}
.y3d{bottom:882.563200pt;}
.y24{bottom:888.047067pt;}
.y1b{bottom:895.361867pt;}
.y3c{bottom:898.563200pt;}
.y23{bottom:904.047067pt;}
.y3b{bottom:914.563200pt;}
.y22{bottom:920.047067pt;}
.y48{bottom:935.357867pt;}
.y21{bottom:935.361600pt;}
.hd{height:21.805469pt;}
.h6{height:21.868388pt;}
.h7{height:26.994917pt;}
.he{height:33.536000pt;}
.h9{height:38.986667pt;}
.h4{height:41.920000pt;}
.h5{height:67.772551pt;}
.h3{height:187.136000pt;}
.hc{height:226.769333pt;}
.hb{height:773.333333pt;}
.ha{height:846.666667pt;}
.h2{height:887.885733pt;}
.h8{height:927.885333pt;}
.h1{height:982.666667pt;}
.h0{height:982.677333pt;}
.w5{width:120.268000pt;}
.w2{width:641.333333pt;}
.w4{width:755.904000pt;}
.w3{width:755.905333pt;}
.w0{width:1511.813333pt;}
.w1{width:1512.000000pt;}
.x0{left:0.000000pt;}
.x2{left:13.385467pt;}
.xb{left:37.795333pt;}
.x1e{left:40.245467pt;}
.x5{left:79.074267pt;}
.xe{left:86.928667pt;}
.x22{left:97.002267pt;}
.xf{left:249.448667pt;}
.x3{left:285.958800pt;}
.x7{left:303.587867pt;}
.x10{left:411.022000pt;}
.x6{left:427.619733pt;}
.x9{left:552.264267pt;}
.x11{left:565.982000pt;}
.x4{left:595.878800pt;}
.xd{left:695.869867pt;}
.xc{left:755.906667pt;}
.xa{left:790.396533pt;}
.x16{left:793.701600pt;}
.x1d{left:828.056000pt;}
.x20{left:838.646267pt;}
.x1f{left:841.192267pt;}
.x12{left:842.835333pt;}
.x1{left:855.906667pt;}
.x21{left:925.058267pt;}
.x13{left:1005.355333pt;}
.x17{left:1062.048267pt;}
.x18{left:1126.301600pt;}
.x14{left:1166.928667pt;}
.x19{left:1198.111067pt;}
.x1a{left:1262.364400pt;}
.x8{left:1317.730395pt;}
.x15{left:1321.888667pt;}
.x1b{left:1326.617733pt;}
.x1c{left:1390.871067pt;}
}
